:root {
    --background-color: #2F1893;
    --action-primary: #25dac5;
    --colors-heading: #ffffff;
    --colors-text: #ffffff;
    --colors-white: #ffffff;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
}

body {
    background-color: var(--background-color);
    color: var(--colors-text);
    margin: 50px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    height: calc(100vh - 80px);
    gap: 100px;
}

/* 알람 리스트 스타일 */
.alarm-list {
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px var(--box-shadow-color);
    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.alarm-list h3 {
    font-size: 24px;
    color: var(--background-color);
    font-weight: bold;
    margin-bottom: 15px;
}

/* 알람 컨테이너 스타일 */
#alarm-container {
    width: 100%;
    max-height: 300px; /* 최대 높이 설정 */
    overflow-y: auto; /* 내부 스크롤 활성화 */
    padding: 10px 0;
    margin-bottom: 20px;
    border-top: 1px solid #ddd;
    text-align: left;
    color: #555;
}

.alarm-item {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #333333;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.alarm-icon {
    width: 20px; /* 아이콘 크기 조정 */
    height: 20px;
    margin-right: 10px; /* 아이콘과 텍스트 사이 간격 */
    filter: invert(29%) sepia(66%) saturate(4664%) hue-rotate(234deg) brightness(77%) contrast(101%); /* #2F1893 색상으로 변환 */
}

.alarm-item:hover {
    background-color: #f0f8ff;
    cursor: pointer;
}

/* 수동 업데이트 버튼 스타일 */
.custom-btn.update-btn {
    background-color: var(--action-primary);
    color: var(--colors-white);
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
    margin-top: auto; /* 버튼을 하단으로 이동 */
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}

.custom-btn.update-btn:hover {
    background-color: #1ca69b;
}

.reload-icon {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
}

/* 메인 콘텐츠 스타일 */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    color: var(--colors-heading);
    margin-top: -110px;
}

.main-content h2 {
    font-size: 75px;
    color: var(--colors-heading);
    margin-bottom: 50px;
}

.main-content .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content .buttons a {
    padding: 15px 20px;
    background-color: var(--action-primary);
    color: var(--colors-white);
    border-radius: 40px;
    text-decoration: none;
    font-size: 18px;
    max-width: 200px;
    text-align: center;
}

.main-content .buttons a:hover {
    background-color: #1ca69b;
}
