<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<header th:replace="~{base :: header}"></header>
<div class="content-wrapper">
    <!-- 알람 리스트 -->
    <div class="alarm-list">
        <h3>알람 리스트</h3>
        <div id="alarm-container">
            <p>알람 데이터를 불러오는 중...</p>
        </div>
        <button onclick="manualUpdateAlarms()" class="custom-btn update-btn">
            <img src="/img/refresh.svg" alt="Reload" class="reload-icon"> 수동 업데이트
        </button>
    </div>

    <!-- 메인 콘텐츠 -->
    <div class="main-content">
        <h2>Start with EyePi</h2>
        <div class="buttons">
            <a href="/streaming" class="custom-btn">Move to my video</a>
            <a href="/video" class="custom-btn">Recorded video</a>
        </div>
    </div>
</div>
<script th:src="@{/js/modal.js}"></script>
<script th:src="@{/js/alarm.js}"></script>
</body>
</html>
