<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head> <!-- base.html의 head 프래그먼트 명확히 참조 -->
<body>
<header th:replace="~{base :: header}"></header> <!-- base.html의 header 프래그먼트 명확히 참조 -->
<div class="main-content">
    <h2>Start with IP Cam 이름</h2>
    <div class="buttons">
        <a href="/streaming" class="custom-btn">Move to my video</a>
        <a href="/video" class="custom-btn">Recorded video</a>
        <a href="/qr/generate?deviceCode=123456" class="custom-btn">QR 코드 생성하기</a>
    </div>
</div>
<script th:src="@{/js/modal.js}"></script>
</body>
</html>
