<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notification Example</title>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/9.0.0/firebase-messaging.js"></script>
</head>
<body>
<h1>Welcome to the Notification Page</h1>

<script type="module">
    // Firebase SDK를 모듈로 가져오기
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.0.0/firebase-app.js";
    import { getMessaging, getToken, onMessage } from "https://www.gstatic.com/firebasejs/9.0.0/firebase-messaging.js";

    // Firebase 설정
    const firebaseConfig = {
        apiKey: "AIzaSyBRNF1gHpyjMoMHjKIlSwfYGfiZOYdSZeE",
        authDomain: "leejeonmoon-835a7.firebaseapp.com",
        projectId: "leejeonmoon-835a7",
        storageBucket: "leejeonmoon-835a7.appspot.com",
        messagingSenderId: "947922006468",
        appId: "1:947922006468:web:221333ef2760165742b491",
        measurementId: "G-37JVR4H4QX"
    };

    // Firebase 초기화
    const app = initializeApp(firebaseConfig);
    const messaging = getMessaging(app); // Initialize messaging with the app

    document.addEventListener("DOMContentLoaded", () => {
        // FCM 토큰 요청
        getToken(messaging, { vapidKey: firebaseConfig.vapidKey }).then((currentToken) => {
            if (currentToken) {
                console.log(currentToken);
                fetch('/notification/new', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ token: currentToken })
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('FCM 토큰 보내기 성공!');
                        } else {
                            console.log('FCM 토큰 보내기 실패!', response);
                        }
                    })
                    .catch((error) => {
                        console.log('에러 발생:', error);
                    });
            } else {
                console.log('No registration token available. Request permission to generate one.');
            }
        }).catch((err) => {
            console.log('토큰 요청 에러:', err);
        });

        // 포그라운드 메시지 수신
        onMessage(messaging, (payload) => {
            console.log('받은 알람:', payload);
        });
    });
</script>
</body>
</html>
