<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}">
  <title>Dashboard Report</title>
</head>
<body>
<header th:replace="~{base :: header}"></header> <!-- base.html의 header 프래그먼트 참조 -->

<main class="report-section">
  <h1>Dashboard Report</h1>

  <iframe src="http://3.38.149.191:5601/app/dashboards#/view/6d702d80-b082-11ef-b639-4508448ddfc8?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-1d%2Cto%3Anow))&show-top-menu=true&show-query-input=true&show-time-filter=true" height="700" width="1280"></iframe>
</main>

</body>
</html>
